.navbar li {
    display: inline-block;
    font-size: 2em;
    width: 17%;
    padding: 10px;
}

.nav a {
    font-family: 'Franklin Gothic';
    color: black;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: hsl(158, 100%, 32%);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: hsl(158, 100%, 32%);
    position: fixed;
    box-shadow: 5px 5px 9px black;
    width: 100%;
    overflow: auto;
    margin-top: 0px;
}

header {
    background-color: hsl(158, 100%, 32%);
    text-align: center;
    padding: 10px;
}

    header h2 {
        color: hsl(158, 100%, 32%);
    }


#booknow {
    background-color:hsl(158, 100%, 32%);
}
    #booknow h1, p {
        text-align: center;
    }
    #booknow p{
        font-size: 2em;
    }
    #booknow h1{
        font-size: 3em;
    }


input[type=email], input[type=text], [type=tel], [type=number] {
    width: 49%;
    padding: 12px 20px;
    margin: 12px 0px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea{
    width: 49%;
}

input[type=submit] {
    width: 98%;
    border: solid 2px black;
    color: hsl(158, 100%, 32%);
    font-weight: 1000;
    padding: 10px;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 5px;
}


aside, section, article {
    width: 33.3333%;
    float: left;
    text-align: center;
    color: hsl(158, 100%, 32%);
    background-color: black;
}





@media (max-width:980px) {
    .navbar li {
        font-size: 1.5em;
    }
}

@media (max-width:850px) {
    .navbar li {
        font-size: 1em;
        width: 15%;
    }
}

@media screen and (max-width:700px) {
    .navbar li {
        display: inline-block;
        width: 19%;
        font-size: 1em;
        padding: 0px;
    }
}
@media screen and (max-width:600px){
    input[type=text], [type=tel], [type=number] {
        width: 100%;
    }
    input[type=email]{
        width: 100%;
    }
    input[type=submit] {
        width: 100%;
        margin-left: 0px;
    }
    textarea {
        width: 98%;
    }
    aside, section, article {
        width: 100%;
        text-align: center;
    }
}